/* Style global */
body {
    font-family: 'Roboto', sans-serif; /* Police moderne et lisible */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9; /* Fond beige clair */
    color: #333; /* Texte principal */
}

